body {
   background-color: #87a059;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='40' viewBox='0 0 50 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23c5bcd3' fill-opacity='0.4'%3E%3Cpath d='M40 10L36.67 0h-2.11l3.33 10H20l-2.28 6.84L12.11 0H10l6.67 20H10l-2.28 6.84L2.11 10 5.44 0h-2.1L0 10l6.67 20-3.34 10h2.11l2.28-6.84L10 40h20l2.28-6.84L34.56 40h2.1l-3.33-10H40l2.28-6.84L47.89 40H50l-6.67-20L50 0h-2.1l-5.62 16.84L40 10zm1.23 10l-2.28-6.84L34 28h4.56l2.67-8zm-10.67 8l-2-6h-9.12l2 6h9.12zm-12.84-4.84L12.77 38h15.79l2.67-8H20l-2.28-6.84zM18.77 20H30l2.28 6.84L37.23 12H21.44l-2.67 8zm-7.33 2H16l-4.95 14.84L8.77 30l2.67-8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}
header {
   background:#87a059;
}
.container{
   background:rgb(229, 227, 231);

}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


.form-register {
   width: 400px;
   background: #87a059;
   padding: 30px;
   margin: auto;
   margin-top: 100px;
   border-radius: 4px;
   font-family: 'calibri';
   color: white;
   box-shadow: 7px 13px 37px #000;
}

.form-register h4{
   font-size: 22px;
   margin-bottom: 20px;
}

.controls {
   width: 100%;
   background: #f6f7f8;
   padding: 10px;
   border-radius: 4px;
   margin-bottom: 16px;
   border: 1px solid #1f53c5;
   font-family: 'calibri';
   font-size: 18px;
}

.form-register p {
   height: 40px;
   text-align: center;
   font-size: 18px;
   line-height: 40px;
}

.form-register a {
   color: white;
   text-decoration: none;
}

.form-register a:hover {
   color: white;
   text-decoration: underline;
}

.form-register .botons {
   width: 100%;
   background: #1f53c5;
   border: none;
   padding: 12px;
   color: white;
   margin: 16px 0;
   font-size: 16px;
}

.form-login {
   background: #000;
}



